.nav-wrapper{
    background: #4caf50;
    padding-left: 2em;
    padding-right: 2em;
}

.img-card{
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 75px;
    padding-left: 3em;
}

#credit_card_form{
    padding-top: 2em;
}

.input-field:hover{
   color: #4caf50;
}

.btn-primary{
    background: white;
    border: #4caf50 solid 3px;
    color: #4caf50;
}

.btn-primary:hover{
    background: #4caf50;
    border: none;
    color: white;
}

.btn-primary:focus{
    background: #4caf50;
    border: none;
    color: white;
}

#makePayable{
    margin: 2em;
}

.mt{
    margin-top: 1em;
}